.container {
    padding: 24px;
    min-height: 374px;
    width: 350px;
    background: white;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin-right: 24px;
}
.btn-container {
    display: flex;
    justify-content: center;
}
.btn-cancel {
    margin-right: 8px;
    border: 1px solid #E5E5E5;
    background: #fff;
}
.btn-filter {
    margin-left: 8px;
    background: #82C341;
    border: 1px solid #82C341;
}
.btn {
	padding: 0;
	cursor: pointer;
	outline: inherit;
    border-radius: 4px;
    padding: 8px 16px;
    composes: dkS14W600 from "src/styles/typo.css";
}