.container {
    background: #FFFFFF;
    padding: 32px 0 0 0;
    height: 392px;
    overflow-y: hidden;
    flex: 1;
}

.title-container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    margin-bottom: 24px;
}

.title-text {
    composes: dkS24W700 from "src/styles/typo.css"
}

.table-container {
    height: 388px;
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.thead {
    display: flex;
    height: 56px;
    align-items: center;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
    background: #F5F5F5;
    composes: dkS14W600 from "src/styles/typo.css"
}

.thead tr {
    display: flex;
    width: 100%;
}

.thead tr th {
    font-weight: 600;
    line-height: 20px;
    padding: 8px 0 8px 12px;
    text-align: left;
    white-space: pre-wrap;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
}

.thead tr th:first-child {
    flex: 121;
}
.thead tr th:nth-child(2) {
    flex: 159;
}
.thead tr th:nth-child(3) {
    flex: 190;
}
.thead tr th:nth-child(4) {
    flex: 196;
}
.thead tr th:nth-child(5) {
    flex: 159;
}
.thead tr th:nth-child(6) {
    flex: 159;
}

.tbody {
    height: 332px;
    overflow-y: auto;
    display: block;
    composes: esS14W400 from "src/styles/typo.css"
}

.tbody tr {
    height: 56px;
    display: flex;
    align-items: center;
    box-shadow: inset 0px -1px 0px #E5E5E5;
}

.tbody tr:hover {
    background-color: #EFF7FF;
}

.tbody tr td {
    padding: 8px 0 8px 12px;
    width: 100px;
}

.tbody tr td:first-child {
    flex: 121;
    text-transform: uppercase;
}
.tbody tr td:nth-child(2) {
    flex: 159;
}
.tbody tr td:nth-child(3) {
    flex: 190;
}
.tbody tr td:nth-child(4) {
    flex: 196;
}
.tbody tr td:nth-child(5) {
    flex: 159;
}
.tbody tr td:nth-child(6) {
    flex: 159;
}

.completed {
    background: #789764;
}

.pending {
    background: #E69849;
}

.canceled {
    background: #D66D4B;
}

.badge {
    border-radius: 4px;
    width: 95.4px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    composes: whS12W400 from "src/styles/typo.css"
}

@media (max-width: 1020px) {
    .tbody tr {
        height: auto;
    }
}