.container {
    flex: 712;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.area-container {
    /* margin-top: -30px; */
    position: relative;
    z-index: 0;
    flex: 1;
}

.text1 {
    composes: lgS12W600 from "src/styles/typo.css";
}

.text2 {
    composes: dkS24W700 from "src/styles/typo.css";
}

.text3 {
    composes: grS12W500 from "src/styles/typo.css";
}